/*  빽사장 css 파일 모듈	 */

/******* 인코딩설정 및 폰트 설정 ******/
@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);


/*********************** 상단 메뉴 ***********************/
/* 화면 크기지정 */
#top_wrap{width:1700px;position:relative;min-width:1260px;z-index:99999;}
#top_wrap .container{position:relative;min-width:1260px;z-index:99999;}

/* 상단 메뉴 Background */
.bg_top {z-index:998;border:0px solid black; background:#FFFFFF(opacity=100);filter:alpha(opacity=75);width:1500px;height:75px;position:absolute;left:0px;top:0px;z-index:99999;}

#top_wrap .top_menu{position:absolute;left:200px;z-index:99999;}

#top_wrap .top_menu{width:1350px;margin:0px auto; margin-left:-45px; z-index:99999;}
#top_wrap .gnb{position:absolute;left:0px;top:15px;height:17px;z-index:99999;}
#top_wrap .gnb li{position:relative;float:left;height:60px;padding-top:12px;margin-right:110px;color:#ffffff;font-size:16px;font-weight:700;z-index:99999;}
#top_wrap .gnb li a:hover{font-weight:700;z-index:99999;}
#top_wrap .gnb .link{display:inline-block;font-family:"210 다락방";font-weight:700;font-size:25px;color:#ffffff;z-index:99999;}
#top_wrap .gnb .link.on{color:#ff0000/*#FF2727 #215949*/;opacity:0.85;z-index:99999;}
#top_wrap .gnb .sub_menu{display:none;position:absolute;z-index:99999; left:-5px;top:60px;width:130px;overflow:hidden;color:#ffffff;}
#top_wrap .gnb .sub_menu.sub_bg1{left:-15px;z-index:99999;}
#top_wrap .gnb .sub_menu.sub_bg2{left:-8px;z-index:99999;}
#top_wrap .gnb .sub_menu.sub_bg3{left:-40px;z-index:99999;}
#top_wrap .gnb .sub_menu.sub_bg4{left:10px;z-index:99999;}
/* #top_wrap .gnb .sub_menu.sub_bg4.sub1{left:40px;} */
/* #top_wrap .gnb .sub_menu.sub_bg4.sub2{left:80px;} */
#top_wrap .gnb .sub_menu.sub_bg5{left:5px;z-index:99999;}
#top_wrap .gnb .sub_menu.sub_bg6{left:-35px;z-index:99999;}
#top_wrap .gnb .sub_menu a{display:block;margin-top:2px;width:130px;height:30px;line-height:30px;font-family:"배달의민족 주아";font-size:15px;color:#ffffff;font-weight: 400;text-align:center;background:#ff0000/*#ff0000 #215949*/;opacity:0.85;filter:alpha(opacity=85);z-index:99989789465199; position: relative;}
#top_wrap .gnb .sub_menu a:hover{color:#ff0000/*#FF2727 #215949*/;opacity:0.85;text-align:center;background:#ffffff;opacity:0.85;filter:alpha(opacity=85);font-weight:700;z-index:99999;}















